---
# Front matter needed for SCSS --> CSS
---

$blue: #0E91FF;
$dark-blue: #286CA8;
$yellow: #FFCF31;

body {
  border-top: 10px solid $blue;
  font-family: Helvetica Neue, Helvetica;
  margin: 0;
  padding: 40px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.content {
  color: #111;
  margin: auto;
  max-width: 650px;

  h1 {
    font-size: 40px;
    font-style: italic;
    font-family: Georgia, Times New Roman;
    line-height: 1.6em;
    margin: 0;
    padding-bottom: 20px;
  }

  ul,
  p {
    font-size: 18px;
    line-height: 1.8em;
  }

  p {
    a {
      color: $blue;

      &:hover {
        color: $dark-blue;
      }
    }
  }

  ul {
    display: inline-block;
    list-style-type: none;
    margin: 20px 60px 20px 0;
    padding: 0;
    vertical-align: top;

    a {
      color: #999;
      display: block;
      font-size: 16px;

      &:hover {
        color: #666;
      }
    }
  }

  a {
    text-decoration: none;
  }

  .highlight {
    background: $yellow;
  }
}
