---
layout: page
title: Portfolio
page-title: Portfolio
permalink: /portfolio/
---

<div class="portfolio-title">
  Work
</div>
<div class="portfolio">
  {% for case in site.cases %}
    {% if case.type == 'work' %}
      <a href="{{ case.url | prepend: site.baseurl }}">
        {% if case.thumb %}
          <img src="{{ case.thumb | prepend: site.baseurl }} "/>
        {% else %}
          <span>{{ case.title }}</span>
        {% endif %}
      </a>
    {% endif %}
  {% endfor %}
</div>

<div class="portfolio-title">
  Projects
  <a href="https://github.com/zelliott?tab=repositories">more on Github &rarr;</a>
</div>
<div class="portfolio">
  {% for case in site.cases %}
    {% if case.type == 'project' %}
      <a href="{{ case.url | prepend: site.baseurl }}">
        {% if case.thumb %}
          <img src="{{ case.thumb | prepend: site.baseurl }} "/>
        {% else %}
          <span>{{ case.title }}</span>
        {% endif %}
      </a>
    {% endif %}
  {% endfor %}
</div>
