<div class="sidebar">
  <div class="candy-bar">
    <div class="bar-icon-box">
      <i class="fa fa-bars"></i>
    </div>
    Zack Elliott
  </div>
  <div class="sidebar-list">
    {% for page in site.pages %}
      {% if page.sidebar-title %}
        <a href="{{ page.url | prepend: site.baseurl }}">{{ page.sidebar-title }}</a>
      {% endif %}
    {% endfor %}

    <a href="{{ '/public/docs/resume.pdf' | prepend: site.baseurl }}">Resume</a>
    <a href="mailto:zelliottm@gmail.com">Contact</a>
  </div>
</div>
