p {

  a {
    border-bottom: 4px solid $light-blue;
    color: $blue;

    &:hover {
      border-bottom-color: darken($light-blue, 10%);
    }
  }

  strong {
    font-weight: 600;
  }
}

p + p {
  margin-top: 20px;
}
