body,
input,
textarea,
button {
  color: $site-font-color;
  font: 16px Avenir Next;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

.page-pre-title {
  font: 22px Baskerville;
}

.page-title {
  font: 50px Baskerville;
  line-height: 60px !important;
}

.case-summary .summary-title {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

.case-summary .summary-text {
  font: 18px Baskerville;
  line-height: 26px !important;
}

.case-summary .summary-link {
  border-bottom-width: 4px;
  border-bottom-style: solid;
  font: 18px Baskerville;
}

.case-paragraph,
.about {
  font: 22px Baskerville;
  line-height: 36px !important;
}

.portfolio-title {
  font-size: 20px;

  > a {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    font-size: 14px;
  }
}

.portfolio > a {
  font-size: 20px;
}

.sidebar {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}
