// Palette
$light-blue: #c8e0f7;
$blue: #4d9de0;
$dark-blue: #3a76a8;

// Sidebar colors
$sidebar-background-color: #333;
$sidebar-accent-color: $blue;
$sidebar-font-color: #fff;
$sidebar-list-background-color: #222;
$sidebar-dark-accent-color: $dark-blue;
$sidebar-list-item-font-color: #666;
$sidebar-list-item-hover-font-color: #ddd;
$sidebar-list-hover-background-color: #111;

// Sidebar height
$sidebar-height: 40px;
$sidebar-width: 170px;
$sidebar-list-item-height: 40px;
$sidebar-border-width: 4px;

// Site
$site-max-width: 820px;
$site-background-color: #f7f7f7;
$site-font-color: #222;

// Page
$page-title-background-color: #fff;
$page-title-font-color: #222;
$page-pre-title-font-color: #999;
$page-pre-title-hover-font-color: #666;

// About
$about-blurb-max-width: 460px;
$about-font-color: #666;
$about-links-hover-font-color: #222;

// Portfolio
$portfolio-title-font-color: #bbb;
$portfolio-title-link-bottom-border-color: #ddd;
$portfolio-title-link-bottom-hover-border-color: #bbb;
$portfolio-title-link-hover-font-color: #999;
$portfolio-square-background-color: #eee;
$portfolio-square-hover-background-color: #ddd;
$portfolio-square-font-color: #999;
$portfolio-square-hover-font-color: #999;
$portfolio-size: 160px;

// Case
$case-summary-title-font-color: #bbb;
$case-summary-link-border-color: $light-blue;
$case-summary-link-font-color: $blue;
$case-summary-link-hover-border-color: darken($light-blue, 10%);
$case-summary-link-hover-font-color: $blue;
$case-summary-text-font-color: #666;

// Footer
$footer-background-color: #eee;
$footer-font-color: #bbb;
