---
layout: page
---
<div class="case-summary">
  <div class="keywords">
    <div class="summary-title">Keywords</div>
    <div class="summary-text">{{ page.tags }}</div>
  </div>
  <div class="timeframe">
    <div class="summary-title">Timeframe</div>
    <div class="summary-text">{{ page.timeframe }}</div>
  </div>
  <div class="demo">
    <div class="summary-title">Demo</div>
    <a class="summary-link" href="">{{ page.demo-link }}</a>
  </div>

</div>

<div class="case-paragraph">
  {{ content }}
</div>
