---
layout: default
---

<div class="page-title">
  {% if page.page-pre-title %}
    <span class="page-pre-title">
      <a href="{{ '/portfolio/' | prepend: site.baseurl }}">
        <i class="fa fa-angle-left fa-right"></i>
        {{ page.page-pre-title }}
      </a>
      </span>
  {% endif %}
  <h1>{{ page.page-title }}</h1>
</div>
{% if page.case-photo-reel %}
  <div class="case-photo-reel">
    {% for casephoto in page.case-photo-reel %}
      <a href="{{ casephoto.src | prepend: site.baseurl }}"
         data-lightbox="{{ casephoto.data-lightbox }}"
         data-title="{{ casephoto.data-title }}">
        <img src="{{ casephoto.src | prepend: site.baseurl }}"/>
      </a>
    {% endfor %}
  </div>
{% endif %}
<div class="page-content">
  {{ content }}
</div>
