.case-photo-reel {
  max-width: $site-max-width;
  margin: 40px auto 0 auto;
  padding: 0 20px;

  a {
    cursor: pointer;
    display: inline-block;
    height: 80px;
    opacity: 0.75;
    vertical-align: top;

    &:hover {
      opacity: 1;
    }

    img {
      height: 100%;
    }
  }

  a + a {
    margin-left: 16px;
  }
}

.case-summary {

  > div {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 40px;

    .summary-title {
      color: $case-summary-title-font-color;
      margin-bottom: 20px;
    }

    .summary-text {
      color: $case-summary-text-font-color;
    }

    .summary-link {
      border-color: $case-summary-link-border-color;
      color: $case-summary-link-font-color;

      &:hover {
        border-color: $case-summary-link-hover-border-color;
        color: $case-summary-link-hover-font-color;
      }
    }
  }

  .keywords {
    width: 40%;
  }

  .timeframe {
    width: 30%;
  }

  .demo {
    width: 29%;
  }
}

@media (max-width: 772px) {
  .case-photo-reel {
    a {
      margin-bottom: 4px;
    }
    a + a {
      margin: 0;
    }
  }
}

@media (max-width: 560px) {
  .case-photo-reel {
    a {
      height: auto;
      width: 49%;

      img {
        width: 100%;
      }
    }
  }

  .case-summary {
    .keywords, .timeframe, .demo {
      width: 100%;
    }
  }
}
