.page-title {
  background: $page-title-background-color;
  color: $page-title-font-color;
  padding: 160px 20px 40px 20px;

  .page-pre-title {
    color: $page-pre-title-font-color;
    display: block;
    max-width: $site-max-width;
    margin: 0 auto 20px auto;

    &:hover {
      color: $page-pre-title-hover-font-color;
    }
  }

  h1 {
    max-width: $site-max-width;
    margin: 0 auto;
  }
}

.page-content {
  max-width: $site-max-width;
  padding: 0 20px;
  margin: 40px auto 0 auto;
}
