.portfolio-title {
  color: $portfolio-title-font-color;

  > a {
    border-color: $portfolio-title-link-bottom-border-color;
    margin-left: 10px;

    &:hover {
      border-color: $portfolio-title-link-bottom-hover-border-color;
      color: $portfolio-title-link-hover-font-color;
    }
  }
}

.portfolio {
  margin: 40px 0;
  width: 100%;

  > a {
    background: $portfolio-square-background-color;
    color: $portfolio-square-font-color;
    display: inline-block;
    height: $portfolio-size;
    line-height: $portfolio-size;
    width: $portfolio-size;
    margin-bottom: 20px;
    vertical-align: top;
    text-align: center;

    &:hover {
      background: $portfolio-square-hover-background-color;
      color: $portfolio-square-hover-font-color;
    }

    img {
      width: $portfolio-size - 60px;
      vertical-align: middle;
    }
  }

  > a + a {
    margin-left: 20px;
  }
}

@media (max-width: 752px) {
  .portfolio {
    a {
      margin-bottom: 4px;
    }
    a + a {
      margin: 0;
    }
  }
}
